<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149422532-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149422532-1');
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<title>Zev.News | Notícias e Análises sobre a indústria de veículos com emissão zero</title>


<link rel="stylesheet" type="text/css" href="css/frame_style.css">
<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/menu_style.css">
<link rel="stylesheet" type="text/css" href="css/news_letter.css">
<script type="text/javascript" src="includes/main_nav_menu.js"></script>
<script src="includes/page_actions.js"></script>

<% var main_title
   var main_subtitle
   var main_cod
   var highlight
   var main_author


   var control  = 0;
   var contador = 1;

%>
<% var total = 1

rows.forEach(function(row) { 

  dia = row.publi_date
  data = dia.getDate();
  mes = dia.getMonth() + 1;
  ano = dia.getFullYear();
  dsemana = dia.getDay ();

  switch (dsemana) {
  case 0:
    dsemana = "domingo"
    break;
    case 1:
    dsemana = "segunda-Feira"
    break;
    case 2:
    dsemana = "terça-Feira"
    break;
    case 3:
    dsemana = "quarta-Feira"
    break;
    case 4:
    dsemana = "quinta-Feira"
    break;
    case 5:
    dsemana = "sexta-Feira"
    break;
    case 6:
    dsemana = "sábado"
    break;
  
  
}

switch (mes) {
  case 1:
  mes = "janeiro"
  break;
  
  case 2:
  mes = "fevereiro"
  break;
  
  case 3:
  mes = "março"
  break;
  
  case 4:
  mes = "abril"
  break;
  
  case 5:
  mes = "maio"
  break;
  
  case 6:
  mes = "junho"
  break;
  
  case 7:
  mes = "julho"
  break;
  
  case 8:
  mes = "agosto"
  break;
  
  case 9:
  mes = "setembro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 11:
  mes = "novembro"
  break;
  
  case 12:
  mes = "dezembro"
  break;
  

  }






})



function teste(x){
	
  dia = x
  data = dia.getDate();
  mes = dia.getMonth() + 1;
  ano = dia.getFullYear();
  dsemana = dia.getDay (); 

	var z = "OK";
    total = total +1

    switch (dsemana) {
  case 0:
    dsemana = "Domingo"
    break;
    case 1:
    dsemana = "Segunda-feira"
    break;
    case 2:
    dsemana = "Terça-feira"
    break;
    case 3:
    dsemana = "Quarta-feira"
    break;
    case 4:
    dsemana = "Quinta-feira"
    break;
    case 5:
    dsemana = "Sexta-feira"
    break;
    case 6:
    dsemana = "Sábado"
    break;
  
  
}

switch (mes) {
  case 1:
  mes = "janeiro"
  break;
  
  case 2:
  mes = "fevereiro"
  break;
  
  case 3:
  mes = "março"
  break;
  
  case 4:
  mes = "abril"
  break;
  
  case 5:
  mes = "maio"
  break;
  
  case 6:
  mes = "junho"
  break;
  
  case 7:
  mes = "julho"
  break;
  
  case 8:
  mes = "agosto"
  break;
  
  case 9:
  mes = "setembro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 11:
  mes = "novembro"
  break;
  
  case 12:
  mes = "dezembro"
  break;
  

  }

   var resultado = " "+  dsemana + ", " + data + " de " + mes + " de " + ano

	return resultado;
}




%>

	<script>
 	  var mndFileds=new Array('Last Name','Email');
 	  var fldLangVal=new Array('Sobrenome','E-mail'); 
		var name='';
		var email='';

 	  function checkMandatory4087730000000224112() {
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToContacts4087730000000224112'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Selecione um ficheiro para carregar.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' não pode estar em branco.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' não pode estar em branco.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		document.getElementById('formsubmit').disabled=true;
	}
</script>
<script type="text/javascript">


$(document).ready(function() {



 $("#form_newsletter_zev").submit(function(e) {
 e.preventDefault();
   /*alert("Em breve retornaremos o contato!");*/
   /*$( "#contact_form" ).replaceWith( "<p>OBRIGADO por cadastrar-se!!</p>" );*/
   /*alert("Obrigado");*/
   var $form = $(this);
   $.post($form.attr("action"), $form.serialize()).then(function() {
    /*alert("Thank you!");*/
  $( "#form_newsletter_zev" ).replaceWith( "<span id='cadastro_realizado'>Obrigado por se cadastrar!</span>" );
  
  });
  
   
 });


 
var clientHeight = document.getElementById('news1').clientHeight;
var largura = document.getElementById('news1').clientWidth;
//alert("altuta" +  clientHeight + " largura " + largura);
	
		   $("#news1").hover(function(){
			$(this).css("opacity", "0.4");
			}, function(){
				$(this).css("opacity", "1");
 			});
       	<% rows.slice(0,9).forEach(function(row) { %>
       		
       				<%if (row.highlight == 1 && control == 0) { %>

                var foto_main;

                if (largura > 980)
                {
                 foto_main = "<%=row.photo_highlight %>"+".jpg" 
                }
                else
                {
                  foto_main = "<%=row.photo_highlight %>"+"_mob.jpg" 
                }
                
                //alert(foto_main);

						 $('#news1').css('background-image', 'url(/images/'+ foto_main +')');
						 <% main_title = row.title
                            main_subtitle = row.subtitle
                            main_cod = row.cod
                            main_author = row.author
                            control = 1; 
						 %>
					<% } %>	 
				
			<% }); %>

        
});
    
</script>

<script>


  
  
  
 
</script>

</head>
<body onload="activate_main_menu()">
<input type="hidden" name="page_section" id="page_section" value="home"></input>
<div id="container">
	<div id="top"><img src="icons/logo_zev_news.png" id="main_logo"><h1 id="zev_description"> ANÁLISES & NOTÍCIAS SOBRE VEÍCULOS COM EMISSÃO ZERO</h1></div>
	<div class="topnav" id="myTopnav">
    <!-- HERE GOES THE MENU ITEMS -->
    <%- include('menu_superior') %>
	</div>

	<div id="content">
		<div id="box1">
			<div id="news1">
				<a href="article/<%= main_cod%>/<%= main_title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>">
				<h1 id="main_title"><%= main_title %></h1>
				<a href="author/<%= main_author%>"><h3 id="main_author">POR JOSE QUEIROZ</h3></a>
				
			</div>
		</div> 
		<div id="box2">

			<% rows.slice(0,4).forEach(function(row) { %>
 

       		   <%if (row.highlight == 0 && contador < 5) { %>
       	<div class="news_inside">
 				<a href="article/<%=row.cod%>/<%= row.section.toUpperCase() %>"><img src="images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="<%=  row.section%>"><%= row.section.toUpperCase() %></a></span>
				<h1 class="news_title"><a href="article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="author/<%= row.author %>"><%= row.author %></a></span> 
				<time datetime="<%= row.publi_date %>" class="publi_date_main"> | <%= teste(row.publi_date)%></time>
				</div>
				<%contador = contador + 1%> 
				<% } %>	
			<% }); %>

			   		    

		</div>
		<div id="box3">
			<%contador = 1 %>	   
			<% rows.slice(4,8).forEach(function(row) { %>
       		<%if (row.highlight == 0 && contador < 5) { %>
       	 <div class="news_inside">
 				<a href="article/<%=row.cod%>/<%= row.section.toUpperCase() %>"><img src="images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="<%=  row.section%>"><%= row.section.toUpperCase() %></a></span> 
				<h1 class="news_title"><a href="article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="author/<%= row.author%>"><%= row.author %></a></span>
        <time datetime="<%= row.publi_date %>" class="publi_date_main"><%= teste(row.publi_date)%></time>
				</div> 
				<%contador = contador + 1%> 
				<% } %>	 
				
			<% }); %>

			
		</div>
	</div>
	<%- include('formulario_newsletter_zev') %>



	<div id="menu_footer">
		<!-- HERE GO THE MEU FOOTER-->
		<%- include('menu_inferior') %>
	</div>
	<div id="footer"><span> ® 2019 Zev.News - Todos os direitos reservados</span></div>
</div>
</body>
</html>