
<!DOCTYPE html>
<%var title
 var publidate;
 var dia; 

 %>
 <% rows.forEach(function(row) { %>
       <%

       title = row.title
       subtitle = row.subtitle
       text = row.article
       section = row.section
       author = row.author
       publidate = row.publi_date
       
       photo1 = row.photo1
       legend1 = row.legend1
       
       photo2 = row.photo2
       legend2 = row.legend2

      photo3 = row.photo3
      legend3 = row.legend3

      photo4 = row.photo4
      legend4 = row.legend4
     
      photo5 = row.photo5
      legend5 = row.legend5




       %>
    <% }); 






function teste(x){
	
  dia = x
  data = dia.getDate();
  mes = dia.getMonth() + 1;
  ano = dia.getFullYear();
  dsemana = dia.getDay (); 

	
   

    switch (dsemana) {
  case 0:
    dsemana = "domingo"
    break;
    case 1:
    dsemana = "segunda-feira"
    break;
    case 2:
    dsemana = "terça-feira"
    break;
    case 3:
    dsemana = "quarta-feira"
    break;
    case 4:
    dsemana = "quinta-feira"
    break;
    case 5:
    dsemana = "sexta-feira"
    break;
    case 6:
    dsemana = "sábado"
    break;
  
  
}

switch (mes) {
  case 1:
  mes = "janeiro"
  break;
  
  case 2:
  mes = "fevereiro"
  break;
  
  case 3:
  mes = "março"
  break;
  
  case 4:
  mes = "abril"
  break;
  
  case 5:
  mes = "maio"
  break;
  
  case 6:
  mes = "junho"
  break;
  
  case 7:
  mes = "julho"
  break;
  
  case 8:
  mes = "agosto"
  break;
  
  case 9:
  mes = "setembro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 11:
  mes = "novembro"
  break;
  
  case 12:
  mes = "dezembro"
  break;
  

  }

   var resultado = "Publicado "+  dsemana + ", " + data + " de " + mes + " de " + ano

	return resultado;
}




    %>


<html>
<head>
<title><%=  title %></title>
<link rel="stylesheet" type="text/css" href="/css/frame_style.css">
<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/menu_style.css">
<script type="text/javascript" src="/includes/main_nav_menu.js"></script>
<script src="/includes/page_actions.js"></script>
	<script>
 	  var mndFileds=new Array('Last Name','Email');
 	  var fldLangVal=new Array('Sobrenome','E-mail'); 
		var name='';
		var email='';

 	  function checkMandatory4087730000000224112() {
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToContacts4087730000000224112'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Selecione um ficheiro para carregar.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' não pode estar em branco.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' não pode estar em branco.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		document.getElementById('formsubmit').disabled=true;
	}
</script>



</head>
<body onload="activate_main_menu()">
<input type="hidden" name="page_section" id="page_section" value="<%= section%>"></input>
<div id="container">
	<div id="top"><img src="/icons/logo_zev_news.png" id="main_logo"><h1 id="zev_description"> ANÁLISES & NOTÍCIAS SOBRE VEÍCULOS COM EMISSÃO ZERO</h1></div>
	<div class="topnav" id="myTopnav">
  <%- include('menu_superior') %>
</div>
	<div id="content_story">
		<div id="box_story">

<img src="/images/<%= photo1 %>" class="photo_article">
<legend class="photo_legend">
Os ângulos de entrada (35º) em saída (28º) indicam que a Cybertruck tem vocação para o fora de estrada – Foto: Divulgação Tesla
</legend>
<h1 class="story_title"><%= title %></h1>
<h2 class="story_subtitle"><%= subtitle %></h2>

	<div id="author_date">
		<span id="author">Por <a href="" rel="author"><%= author%></a></span> | <time datetime="2019-07-30" id="published_date"> <%= teste(publidate) %></time>
	</div>



<%- text%>


<!-- COMMENTS SECTION-->

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://zevnews.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<!-- END OF COMMENTS SECTION -->




</div>
	</div>
	<div id="newsletter">
		<form action='https://crm.zoho.com/crm/WebToContactForm' name=WebToContacts4087730000000224112 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4087730000000224112()' accept-charset='UTF-8'>
		<input type='text' style='display:none;' name='xnQsjsdp' value='986d5572184fa0eeca62d5158d27c8989375f1e1c92d6492c6cf8026241b6de9'></input> 
		<input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
		<input type='text' style='display:none;' name='xmIwtLD' value='00748001d565152516d1d9617ef2ed1538b8071822d8042ed3d6fb4ca4cec32e'></input> 
		<input type='text'  style='display:none;' name='actionType' value='Q29udGFjdHM='></input>
		<input type='text' style='display:none;' name='returnURL' value='https://www.zev.news/home2.html' > </input>
		<legend>RECEBA NOSSAS MATÉRIAS</legend>
		<label for="firstname">Nome:</label><input type="text" name="First Name" required>
		<label for="lasttname">Sobrenome:</label><input type="text" name="Last Name" required>
		<label for="email">E-mail:</label><input type="email" name="Email" required>
		<input type="submit" value="Cadastrar" id="send_data">
</form>
	</div>
	<div id="menu_footer">
	<%- include('menu_inferior') %>
	</div>
	<div id="footer"><span> ® 2019 Zev.News - Todos os direitos reservados</span></div>
</div>
</body>
</html>