<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="css/css_estilo.css">
</head> 
<body>
 <h2>Bem-vindo <%= sessao_usuario %></h2> 
 <hr> 
<br><br>
<% var total = 1%>
 <% rows.forEach(function(row) { %>
   
        <br><br>
         <%= total%> || <strong><%= row.title %></strong> || <strong> Publicado em: <%= row.publi_date %></strong> ||  <a href="update_article/<%= row.cod%>">Atualizar</a> -  <a href="delete_article/<%= row.cod%>" onclick="return confirm('Deseja Deletar?')" >Deletar?</a>
          <% if (row.highlight == 1){%>
          => DESTACADO <=
          <%}%>
        <br><br>
        <hr>
         <%total = total + 1%>
    <% }); %>
    <a href="/logout" onclick="return confirm('Deseja Desconectar?')">Desconectar</a> - <a href="/new_article">Incluir novo artigo?</a>

    </body>
</html>
    