<!DOCTYPE html>
<html>
<head>
<title>Zev.News | Notícias e Análises sobre a indústria de veículos com emissão zero</title>
<link rel="stylesheet" type="text/css" href="/css/contato.css">
<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/menu_style.css">
<link rel="stylesheet" type="text/css" href="css/news_letter.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/includes/main_nav_menu.js"></script>
<script src="/includes/page_actions.js">
</script>
	<script>
 	  var mndFileds=new Array('Last Name','Email');
 	  var fldLangVal=new Array('Sobrenome','E-mail'); 
		var name='';
		var email='';

 	  function checkMandatory4087730000000224112() {
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToContacts4087730000000224112'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Selecione um ficheiro para carregar.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' não pode estar em branco.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' não pode estar em branco.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		document.getElementById('formsubmit').disabled=true;
	}
	
	
	
	
</script>
<script>


  $(document).ready(function() {
 
 
 $("#contact_form").submit(function(e) {
 e.preventDefault();
   /*alert("Em breve retornaremos o contato!");*/
   /*$( "#contact_form" ).replaceWith( "<p>OBRIGADO por cadastrar-se!!</p>" );*/
   /*alert("Obrigado");*/
   var $form = $(this);
   $.post($form.attr("action"), $form.serialize()).then(function() {
    /*alert("Thank you!");*/
	$( "#contact_form" ).replaceWith( "<span id='answer_contact'>Obrigado! Reponderemos em alguns minutos.</span>" );
  
  });
  
   
 });



}); 
  
  
  
  
 
</script>

</head>
<body onload="activate_main_menu()">
<input type="hidden" name="page_section" id="page_section" value="contato"></input>
<div id="container">
	 <%- include('privacybox') %>
	<div id="top"><img src="/icons/logo_zev_news.png" id="main_logo"><h1 id="zev_description"> ANÁLISES & NOTÍCIAS SOBRE VEÍCULOS COM EMISSÃO ZERO</h1>
<%- include('search') %>
	</div>
	<div class="topnav" id="myTopnav">
	   <%- include('menu_superior') %>
	
</div>
	<div id="content_contact">
	
		<div id="box_content">


<h3 class="capitular">Entre em Contato</h3>

<p>Para obter uma resposta mais rápida, é importante entrar em contato pelo canal apropriado. A gente agradece ;-)</p>

<h3 class="capitular">Imprensa e Empresas</h3>

<h4>Pautas</h4>

<p>Gostaria de apresentar sua empresa, seu negócio ou enviar press releases ou conteúdo similar? Envie um e-mail para <a href="mailto:pautas@zev.news">pautas@zev.news</a><p>

<h4>Guest Post</h4>

<p>Gostaria de publicar seu conteúdo em <span class="zevnews">Zev.News</span>? Confira a lista de diretrizes editoriais abaixo e entre em contato por meio de <a href="mailto:jornalismo@zev.news">jornalismo@zev.news</a></p>

<h4>Diretrizes</h4>

<ol>
<li>Apresente-se. O que faz de você um especialista em veículos com emissão zero e afins?</li>

<li>Qual o tema da sua matéria e como enquadra-se às editorias de <span class="zevnews">Zev.News</span>? (Tecnologia, Negócios, Política, Racing)</li>

<li>Estruture resumidamente sua matéria nos três tópicos principais.</li>
</ol>

<p>Toda matéria, obrigatoriamente, precisa ser exclusiva e inédita.</p>

<h3 class="capitular">Leitores</h3>

<p>Gostaria de ver algum tema em <span class="zevnews">Zev.News</span>? Tem alguma crítica, sugestão ou comentário? Seja de ordem editorial ou técnica? Envie e-mail para <a href="mailto:leitores@zev.news">leitores@zev.news</a></p>

<p>Ou se preferir, utilize o formulário abaixo:</p>

<%- include('formulario_contato') %>




		</div>
	</div>
	<%- include('formulario_newsletter_zev') %>
	
	<div id="menu_footer">
	<!-- HERE GO THE MEU FOOTER-->
	<%- include('menu_inferior') %>
	</div>
	<div id="footer"><span> ® 2019 Zev.News - Todos os direitos reservados</span></div>
</div>
</body>
<script type="text/javascript" src="/includes/validadores.js">

</script>
</html>