<!DOCTYPE html>
<html>
<head>
	<%

secao = section.charAt(0).toUpperCase() + section.slice(1)
	%>
<title> <%= secao %> | Zev.News </title>

<link rel="stylesheet" type="text/css" href="/css/frame_style.css">
<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/menu_style.css">
<link rel="stylesheet" type="text/css" href="/css/news_letter.css">
<script type="text/javascript" src="/includes/main_nav_menu.js"></script>
<script src="/includes/page_actions.js"></script>


<% var main_title
   var main_subtitle
   var main_cod
   var highlight
   var main_author


   var control  = 0;
   var contador = 1;

%>
<% var total = 1

rows.forEach(function(row) { 

  dia = row.publi_date
  data = dia.getDate();
  mes = dia.getMonth() + 1;
  ano = dia.getFullYear();
  dsemana = dia.getDay ();

  switch (dsemana) {
  case 0:
    dsemana = "domingo"
    break;
    case 1:
    dsemana = "segunda-Feira"
    break;
    case 2:
    dsemana = "terça-Feira"
    break;
    case 3:
    dsemana = "quarta-Feira"
    break;
    case 4:
    dsemana = "quinta-Feira"
    break;
    case 5:
    dsemana = "sexta-Feira"
    break;
    case 6:
    dsemana = "sábado"
    break;
  
  
}

switch (mes) {
  case 1:
  mes = "janeiro"
  break;
  
  case 2:
  mes = "fevereiro"
  break;
  
  case 3:
  mes = "março"
  break;
  
  case 4:
  mes = "abril"
  break;
  
  case 5:
  mes = "maio"
  break;
  
  case 6:
  mes = "junho"
  break;
  
  case 7:
  mes = "julho"
  break;
  
  case 8:
  mes = "agosto"
  break;
  
  case 9:
  mes = "setembro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 11:
  mes = "novembro"
  break;
  
  case 12:
  mes = "dezembro"
  break;
  

  }






})



function data_extenso2(x){
  
  dia = x;
  data = dia.getDate();
  mes = dia.getMonth() + 1;
  ano = dia.getFullYear();
 
  datax = ano+"-"+mes+"-"+data
  return datax;
  } 

function data_extenso(x){
	
  dia = x
  data = dia.getDate();
  mes = dia.getMonth() + 1;
  ano = dia.getFullYear();
  dsemana = dia.getDay (); 

	var z = "OK";
    total = total +1

    switch (dsemana) {
  case 0:
    dsemana = "Domingo"
    break;
    case 1:
    dsemana = "Segunda-feira"
    break;
    case 2:
    dsemana = "Terça-feira"
    break;
    case 3:
    dsemana = "Quarta-feira"
    break;
    case 4:
    dsemana = "Quinta-feira"
    break;
    case 5:
    dsemana = "Sexta-feira"
    break;
    case 6:
    dsemana = "Sábado"
    break;
  
  
}

switch (mes) {
  case 1:
  mes = "janeiro"
  break;
  
  case 2:
  mes = "fevereiro"
  break;
  
  case 3:
  mes = "março"
  break;
  
  case 4:
  mes = "abril"
  break;
  
  case 5:
  mes = "maio"
  break;
  
  case 6:
  mes = "junho"
  break;
  
  case 7:
  mes = "julho"
  break;
  
  case 8:
  mes = "agosto"
  break;
  
  case 9:
  mes = "setembro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 10:
  mes = "outubro"
  break;

  case 11:
  mes = "novembro"
  break;
  
  case 12:
  mes = "dezembro"
  break;
  

  }

   var resultado = " "+  dsemana + ", " + data + " de " + mes + " de " + ano

	return resultado;
}




%>

	
	

<script>
 	  var mndFileds=new Array('Last Name','Email');
 	  var fldLangVal=new Array('Sobrenome','E-mail'); 
		var name='';
		var email='';

 	  function checkMandatory4087730000000224112() {
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToContacts4087730000000224112'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Selecione um ficheiro para carregar.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' não pode estar em branco.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' não pode estar em branco.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		document.getElementById('formsubmit').disabled=true;
	}
</script>

<script>
         $(document).ready(function() {
           // document.write("Hello, World!");
		   
		   $("#news1").hover(function(){
			$(this).css("opacity", "0.4");
			}, function(){
				$(this).css("opacity", "1");
 			});
		   
         });
		 
		 
     </script>

</head>
<body onload="activate_main_menu()">
<input type="hidden" name="page_section" id="page_section" value="<%= section%>"></input>
 <%- include('privacybox') %>
<div id="container_news">
 
	<div id="top">
    <img src="/icons/logo_zev_news.png" id="main_logo">
    <h1 id="zev_description"> ANÁLISES & NOTÍCIAS SOBRE VEÍCULOS COM EMISSÃO ZERO</h1>
    <%- include('search') %>
  </div>
	<div class="topnav" id="myTopnav">
  <%- include('menu_superior') %>
</div>
	<div id="content">
		<div class="box_news_block">

      <% if (secao == "Nenhum resultado") {%>

        <h1>Nenhum resultado encontrado na pesquisa.</h1>
     
		 <%}%>
<% rows.slice(0,3).forEach(function(row) { %>
 <% anterior = row.cod %>
       		
       		    <div class="item_news">
 				<a href="/article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>"><img src="/images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="/<%=  row.section%>"><%= row.section.toUpperCase() %></a></span>
				<h1 class="news_title">
            <a href="/article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="/author/<%= row.author %>"><%= row.author %></a></span>
				<time datetime="<%= row.publi_date %>" class="publi_date_main"> | <%= data_extenso(row.publi_date)%></time>
				
				</div> 
        <% proxima = row.cod %>

        <% diaxx = row.publi_date %>
				
			<% }); %>	

		</div>
		
		
		<div class="box_news_block">

			<% rows.slice(3,6).forEach(function(row) { %>
     
			
       		
       		    <div class="item_news">
 				<a href="/article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>"><img src="/images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="/<%=  row.section%>"><%= row.section.toUpperCase() %></a></span>
				<h1 class="news_title">
            <a href="/article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="/author/<%= row.author %>"><%= row.author %></a></span>
				<time datetime="<%= row.publi_date %>" class="publi_date_main"> | <%= data_extenso(row.publi_date)%></time>
				</div> 
			<% proxima = row.cod %>

        <% diaxx = row.publi_date %>	
			<% }); %>	


		</div>
		
		<div class="box_news_block">
      
			
       <% rows.slice(6,9).forEach(function(row) { %>
       		
       		    <div class="item_news">
 				<a href="/article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>"><img src="/images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="/<%=  row.section%>"><%= row.section.toUpperCase() %></a></span>
				<h1 class="news_title">
          <a href="/article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').replace(/%/g,'').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="/author/<%= row.author %>"><%= row.author %></a></span>
				<time datetime="<%= row.publi_date %>" class="publi_date_main"> | <%= data_extenso(row.publi_date)%></time>
				</div> 
				<% proxima = row.cod %>

        <% diaxx = row.publi_date %>
        
       
			<% }); %>	
       




<!-- precisa remover para funcionar -->

		</div>
   
   
  <div id="navegacao_datas"> 
   
  <% if (pagina != 0) {%>
  
    <a href="/prior/<%= pagina %>/<%= section %>">MATÉRIAS ANTERIORES</a>
  
    <%}%>

    <%if (secao !="Nenhum resultado" ) {%>
     <% if (proxima != linha && paginaBuscas == 9) {%>
    
     
    <a href="/next/<%= parseInt(pagina) + 1 %>/<%= section %>">PRÓXIMAS MATÉRIAS</a>
 
     <%}%>
     <%}%>
   </div>


	</div>
	
<%- include('formulario_newsletter_zev') %>
	<div id="menu_footer">
	<!-- HERE GO THE MEU FOOTER-->
	<%- include('menu_inferior') %>
	</div>
	<div id="footer"><span> ® 2019 Zev.News - Todos os direitos reservados</span></div>
</div>
</body>

<script type="text/javascript" src="/includes/validadores.js">


</script>
</html>