<!DOCTYPE html>
<html>
<head>
<title>Motos |Zev.News </title>

<link rel="stylesheet" type="text/css" href="css/frame_style.css">
<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/menu_style.css">
<script type="text/javascript" src="includes/main_nav_menu.js"></script>
<script src="includes/page_actions.js"></script>
	
	

<script>
 	  var mndFileds=new Array('Last Name','Email');
 	  var fldLangVal=new Array('Sobrenome','E-mail'); 
		var name='';
		var email='';

 	  function checkMandatory4087730000000224112() {
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToContacts4087730000000224112'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Selecione um ficheiro para carregar.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' não pode estar em branco.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' não pode estar em branco.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		document.getElementById('formsubmit').disabled=true;
	}
</script>

<script>
         $(document).ready(function() {
           // document.write("Hello, World!");
		   
		   $("#news1").hover(function(){
			$(this).css("opacity", "0.4");
			}, function(){
				$(this).css("opacity", "1");
 			});
		   
         });
		 
		 
     </script>

</head>
<body onload="activate_main_menu()">
<div id="container_news">
	<div id="top"><img src="icons/logo_zev_news.png" id="main_logo"><h1 id="zev_description"> ANÁLISES & NOTÍCIAS SOBRE VEÍCULOS COM EMISSÃO ZERO</h1></div>
	<div class="topnav" id="myTopnav">
  <%- include('menu_superior') %>
</div>
	<div id="content">
		<div class="box_news_block">
		
<% rows.slice(0,3).forEach(function(row) { %>
       		
       		    <div class="item_news">
 				<a href="article/<%=row.cod%>/<%= row.section.toUpperCase() %>""><img src="images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="<%=  row.section%>"><%= row.section.toUpperCase() %></a></span>
				<h1 class="news_title"><a href="article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="author/<%= row.author %>"><%= row.author %></a></span>
				</div> 
				
			<% }); %>	

		</div>
		
		
		<div class="box_news_block">

			<% rows.slice(3,6).forEach(function(row) { %>
			
       		
       		    <div class="item_news">
 				<a href="article/<%=row.cod%>/<%= row.section.toUpperCase() %>""><img src="images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="<%=  row.section%>"><%= row.section.toUpperCase() %></a></span>
				<h1 class="news_title"><a href="article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="author/<%= row.author %>"><%= row.author %></a></span>
				</div> 
				
			<% }); %>	


		</div>
		
		<div class="box_news_block">
			
       <% rows.slice(6,9).forEach(function(row) { %>
       		
       		    <div class="item_news">
 				<a href="article/<%=row.cod%>/<%= row.section.toUpperCase() %>""><img src="images/<%=row.photo1%>" class="news_photo" /></a>
				<span class="news_section"><a href="<%=  row.section%>"><%= row.section.toUpperCase() %></a></span>
				<h1 class="news_title"><a href="article/<%=row.cod%>/<%=row.title.replace(/,/g, '').replace(/ /g, '-').toLowerCase()%>">
				<%= row.title %></a></h1>
				<!-- <h2 class="news_subtitle">Este é um teste de subtítulo</h2> -->
				<span class="news_author">Por <a href="author/<%= row.author %>"><%= row.author %></a></span>
				</div> 
				
			<% }); %>	



		</div>
		
		
	</div>
	<div id="newsletter">
		<form action='https://crm.zoho.com/crm/WebToContactForm' name=WebToContacts4087730000000224112 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4087730000000224112()' accept-charset='UTF-8'>
		<input type='text' style='display:none;' name='xnQsjsdp' value='986d5572184fa0eeca62d5158d27c8989375f1e1c92d6492c6cf8026241b6de9'></input> 
		<input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
		<input type='text' style='display:none;' name='xmIwtLD' value='00748001d565152516d1d9617ef2ed1538b8071822d8042ed3d6fb4ca4cec32e'></input> 
		<input type='text'  style='display:none;' name='actionType' value='Q29udGFjdHM='></input>
		<input type='text' style='display:none;' name='returnURL' value='https://www.zev.news/home2.html' > </input>
		<legend>RECEBA NOSSAS MATÉRIAS</legend>
		<label for="firstname">Nome:</label><input type="text" name="First Name" required>
		<label for="lasttname">Sobrenome:</label><input type="text" name="Last Name" required>
		<label for="email">E-mail:</label><input type="email" name="Email" required>
		<input type="submit" value="Cadastrar" id="send_data">
</form>
	</div>
	<div id="menu_footer">
	<!-- HERE GO THE MEU FOOTER-->
	<%- include('menu_inferior') %>
	</div>
	<div id="footer"><span> ® 2019 Zev.News - Todos os direitos reservados</span></div>
</div>
</body>
</html>